@model WeddingPlanner.Models.WeddingViewModel

<h1>Plan Your Wedding</h1>
<a href="/dashboard">Dashboard</a> | <a href="/logout">Logout</a>


<form asp-controller="Wedding" asp-action="SaveWedding" method="POST">
    <label asp-for="WedderOne"></label>
    <input asp-for="WedderOne">

    <label asp-for="WedderTwo"></label>
    <input asp-for="WedderTwo">

    <label asp-for="WeddingDate"></label>
    <input asp-for="WeddingDate">

    <label asp-for="WeddingAddress"></label>
    <input asp-for="WeddingAddress">

    <input type="submit" value="Create" class="btn">
</form>