@{
    ViewData["Title"] = "Home Page";
}

<h1 class="center">Wedding Planner</h1>
<div class="row">
    <div class="col">
        @Html.Partial("./Partials/RegisterForm")
    </div>
    <div class="col">
        @Html.Partial("./Partials/LoginForm")
    </div>
</div>